@keyframes go-left-right {        
    from { left: 0px; }            
    to { left: 90%; } 
}

.progress {
    display: none;
    animation: go-left-right 3s infinite alternate;
    position: relative;
    border: 2px solid green;
    width: 4px;
    height: 2px;
    background: lime;
}
.js-tab.waiting .progress{
    display: block;
}